/* Style for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    
}


/* Style for the section title */
.section__title {
   
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 20px;
    margin-bottom: 18px;
    font-size: 47px;
    font-weight: 600;
    line-height: 1;
}
h1,.h1{
    margin-bottom: 18px;
    font-size: 47px;
    font-weight: 600;
    line-height: 1;
}

/* Style for the section entry text */
.section__entry p {
    font-size: 16px;
    margin: 20px;
    text-align: justify;
}

.section-intro .section__entry {
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
}


/* Style for the strong and emphasized text within paragraphs */
.section__entry p strong, .section__entry p em {
    font-weight: bold;
    color: #0077b6;
}

/* Style for links */
.section__entry a {
    color: #0077b6;
    text-decoration: none;
}

/* Style for headings within the content */
.section__entry h1, .section__entry h2, .section__entry h3 {
    color: #333;
}

/* Style for bullet points */
.section__entry ul {
    list-style: disc;
    margin: 0 0 20px 20px;
}

/* Style for list items */
.section__entry li {
    margin: 5px 0;
}

.section-intro .section__entry {
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
}
p {
    margin-bottom: 0;
    line-height: 2
    
}

@media(max-width: 767px) {
    p {
        line-height:1.85
    }
}
*,*::before,*::after {
    box-sizing: border-box
}
p+p {
    margin-top: 20px
}
.container {
    text-align: center;
  }

  .section__title {
    font-weight: bold;
  }

  p span {
    font-size: 18px;
    font-weight: bold;
  }
  p{color: black;}
  h1{font-weight: bolder;}


